*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

main{
    width: 100%;
    height: 100vh;
    background-color: #2980b9;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box{
    width: 700px;
    min-height: 500px;
    background-color: white;
    border-radius: 5px;
    padding: 15px;
}

#item{
    width: 100%;
    padding: 10px;
    border: none;
    outline: none;
    font-size: 20px;
    box-shadow: 0px 0px 3px grey;
    display: block;
}

#to-do-box{
    list-style: none;
    margin-top: 20px;
}

#to-do-box li{
    background-color: #2c3e50;
    color: white;   
    padding: 5px 30px 5px 5px;
    border-radius: 2px;
    position: relative;
    text-align: justify;
    font-size: 16px;
    margin-bottom: 10px;
    /* user-select: none; */
    /* width: 80%; */
}

#to-do-box li .fa-xmark{
    position: absolute;
    right: 10px;
    top: 5px;  
}
#to-do-box li .fa-pen-to-square{
    position: absolute;
    right: 30px;
    top: 6px;  
    font-size: 14px;
}
#to-do-box li .red{
    position: absolute;
    right: 55px;
    top: 6px;  
    font-size: 14px;
    color: #ae1111;
}
#to-do-box li .yellow{
    position: absolute;
    right: 75px;
    top: 6px;  
    font-size: 14px;
    color: rgb(255, 218, 54);
}
#to-do-box li .blue{
    position: absolute;
    right: 95px;
    top: 6px;  
    font-size: 14px;
    color: #2980b9;
}
.dome{
    background-color: #7f8c8d !important;
    text-decoration: line-through;
}
.redBgCr{
    background-color: #ae11118a !important;
}
.yellowBgCr{
    background-color: rgba(255, 218, 54, 0.694) !important;
}
.blueBgCr{
    background-color: #297fb98a !important;    
}